#login-icon{
    top: 35px;
    position: relative;
    content:url("imagenes/Logo-NACE.png");
}

.login-page{
	height: 100%;
	position: relative;
}

.login-box{
   top: 60px;
   width: 400px;
   height: 450px;
   background-color: #f5f5f5;
   border-radius: 6px;
   position: relative;
}

.centrado {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
    background-image:url("imagenes/fondo_login.jpg");
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-size: cover;
	overflow: hidden;
	height: 100%;
}

.login-pane{
    left: 15px;
    position: relative;
    width: 100%;
    padding-bottom: 15px;
}

.login-input{
    border-color: #e5e6e6;
    top: 20px;
    height: 46px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    width: 368px;
}

#login-button{
    height: 46px;
    font-size: 18px;
    line-height: 1.33;
    color: white;
    border-radius: 6px;
    background-color: #ccc6ad;
    width: 368px;
    position: relative;
}

.login-input-box{
    top: 50px;
    position: relative;
}

.login-input::placeholder {
  font-style: normal;
  color: graytext;
}

#mensaje-error {
	font-size: 20px;
	color: transparent;
	font-weight: bold;
}

#login-footer{
    top: 90px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    position: relative;
}

#login-help{
    padding-left: 15px;
}

.wrapper{
    height: 185px;
    position: relative;
}
