<h1>logintest</h1>
<div align="center">
<label for="username">Usuario</label>
<input id="username" type="text" required 
       data-bind="ojComponent: {component: 'ojInputText',
                                validators: [{type: 'regExp', options: {pattern: '[a-zA-Z0-9]{3,}',
                                messageDetail: 'You must enter at least 3 letters or numbers'}}],
                            invalidComponentTracker: tracker}" /><br /><br />
<label for="password">Contrase&#241;a</label>
<input id="password" type="password" required
       data-bind="ojComponent: {component: 'ojInputPassword',
                                validators: [{type: 'regExp', options : {pattern: '(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}',
                                messageSummary : '{label} too Weak',
                                messageDetail: 'The password must contain atleast one uppercase, one lowercase, one number and must be 6 digits long'}}],
                                invalidComponentTracker: tracker}" /><br /><br />
<a class="oj-button-primary oj-button-xl" 
   href="http://localhost:8383/Test/index.html?root=home" id="create" type="button" 
   data-bind="ojComponent: {component: 'ojButton', 
                            label: 'Login',
                            disabled: shouldDisableCreate()},
        click: onClick"></a>
</div>